@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

.job-roles {
  font-family: 'Cinzel', serif;
  font-size: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 368px;
}

.img-profile {
  height: 300px;
  width: 300px;
  border-radius: 50% 50% 50% 0%;
  background-position: center;
  background-size: contain;
  display: grid;
  margin: 0 auto;
}

